<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <nav>
    <!--routerLink, specifically, is the directive used to interact with routing and let the user pick where they wanna go.-->
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes/">Heroes</a>
  </nav>
  <!--router-outlet is a reserved angular term for showing the output of a route in a given location on a page.-->
  <router-outlet></router-outlet>
  <app-messages></app-messages>
</div>